.logo
    {
    padding-top: 109px;
    text-align: center;
}
img{
    height: 92px;
    width: 272px;
}
.search{
    text-align:center;
    margin: 0 auto;
    padding-top: 6px;
}
.search input{
    background: #fff;
    display: flex;
    border: 1px solid #7fa5f0;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width:482px; 
    transition: box-shadow .3s;
    padding: 20px;
}
.search input: hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-stye-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    display: inline;
    font-family: arial;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}
