.logo
    {
    padding-top: 109px;
    text-align: center;
}
img{
    height: 92px;
    width: 272px;
}
.search{
    text-align:center;
    margin: 0 auto;
    padding-top: 6px;
}
.search input{
    background: #fff;
    display: flex;
    border: 1px solid #7fa5f0;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width:482px; 
    transition: box-shadow .3s;
    padding: 20px;
}
.search input: hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-stye-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    display: inline;
    font-family: arial;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}
button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.buttons{
    text-align: center;
}
.midtext{
    line-height: 28px;
    text-align: center;
    font-family: arial, sans-serif;
}
.footer{
    font-size: 13px;
    display: block;
    bottom: 0;
    height: 37px;
    position: fixed;
    width: 100%;
    background:#f2f2f2;
    line-height: 20px;
    min=width: 980px;
    border-top: 1px solid #e4e4e4;
    font-family: arial, sans-serif;
    color: #5f6368;
    padding-left: 27px;
}
